{% extends 'base.htm' %}
{% load static %}
{% block content %}
   {% if movies_list %}
   <div class="row">
       {% for movie in movies_list %}
          <div class="movie" id="{{ movie.movie_id }}" style="border:1px solid black">
              <a href="movie/{{ movie.movie_id }}/">
                  <img src="https://image.tmdb.org/t/p/original/{{ movie.poster }}" alt="no"
                     onerror="this.src = '{% static "img/logo/mandle-white.svg" %}';this.className += ' default'">
              </a>
              <div class="details">
                 {% if movie.title %}
                    <span class='title'>{{ movie.title }}</span><br>
                 {% else %}
                    <span class='title'>{{ movie.filename }}</span><br>
                 {% endif %}
                 <span class='real'>Reals</span><br>
                 <span class='year'><a href=''>({{ movie.year }})</a></span>
              </div>
          </div>
       {% endfor %}
   </div>
   {% else %}
       <p>No movies are available.</p>
   {% endif %}
{% endblock %}
