{% extends 'base.htm' %}
{% load static %}
{% block content %}

   <div class="row">
       <div class="col-lg-12">
           <h1 class="page-header"><img src="{% static 'img/logo/mandle-white.svg' %}"/>Mandle 2
          </h1>
       </div>
   </div>
   
   <div id="progresslabel" class="pull-right" style="margin-left:20px"></div>
   <div class="progress" id="collection">
      <div id="collectionbar" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;min-width:2em;">
      </div>
    </div>
    <br>


   {% if findtype == "people" %}
      <h2> {{ people }} </h2>
      <img src="https://image.tmdb.org/t/p/original{{ people.profile }}" alt="no" style="width:120px"
         onerror="this.src = '{% static "img/logo/mandle-white.svg" %}';this.className += ' default'">
      <hr>
   {% endif %}
   {% if movies_list %}
   <div class="row">
       {% for movie, reals in movies_list %}
          <div class="movie" id="{{ movie.id }}">
              <a class="poster" href="{% url 'movie' movie.id %}">
                  <img src="https://image.tmdb.org/t/p/original/{{ movie.poster }}" alt="no"
                     onerror="this.src = '{% static "img/logo/mandle-white.svg" %}';this.className += ' default'">
              </a>
              <div class="details">
                 {% if movie.title %}
                    <span class='title'>{{ movie.title }}</span>
                 {% else %}
                    <span class=''>{{ movie.filename }}</span>
                 {% endif %}
                 {% if movie.year != None %}
                    <br> ----- <span class='year'><a href="{% url 'year' movie.year %}">({{ movie.year }})</a></span> ----- <br>
                 {% else %}
                     <br> ---------- <br>
                 {% endif %}

                 {% for real in reals %}
                     <a href="{% url 'people' real.id %}">{{ real }}</a><br>
                 {% endfor %}

                 {% for genre in movie.genres.all %}
                     <a href="{% url 'genre' genre.id %}">{{ genre }}</a><br>
                 {% endfor %}

              </div>
          </div>
       {% endfor %}
   </div>
   {% else %}
       <p>No movies are available.</p>
   {% endif %}
{% endblock %}
